html,
body {
  //font-family: 'Gilroy W05 Regular';
  font-size: 14px;
  font-size: $font-size-body;
  word-break: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  //font-family: 'Gilroy W05 SemiBold';
}

.modal-content {
  border-radius: $border-radius-big !important;

  .panel-footer {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}

/* --- Logo --- */

.panel {
  border-radius: $border-radius-big !important;
}

.four-box {
  background: linear-gradient(
    137deg,
    rgba(105, 194, 213, 0.9) 0%,
    rgba(83, 147, 255, 0.9) 97%
  ) !important;
  box-shadow: none !important;
}

.one-box:nth-child(1) {
  background: linear-gradient(
    90deg,
    rgba(238, 104, 118, 0.9) 0%,
    rgba(235, 147, 101, 0.9) 97%
  ) !important;
  box-shadow: none !important;
}

.one-box:nth-child(2) {
  background: rgba(255, 255, 255, 0.7) !important;
  box-shadow: none !important;
}

.one-box:nth-child(3) {
  background: rgba(255, 255, 255, 0.7) !important;
  box-shadow: none !important;
}

.one-box:nth-child(4) {
  background: rgba(152, 138, 248, 0.7) !important;
  box-shadow: none !important;
}

.things-to-action .background {
  background: linear-gradient(
    142deg,
    rgba(105, 194, 213, 0.9) 0%,
    rgba(83, 147, 255, 0.9) 97%
  ) !important;
}

.image-wrapper .image {
  background-size: auto !important;
}

.four-box .image-wrapper .image {
  background-size: contain !important;
}

.two-box .image-wrapper .image {
  background-size: contain !important;
}

.two-box.news {
  opacity: 0.7;
  background: rgba(152, 138, 248, 0.7);
  box-shadow: none !important;
}

.banner.parallax .image {
  height: 130% !important;
}

.typeahead {
  background: linear-gradient(
    142deg,
    rgba(66, 185, 133, 1) 0%,
    rgba(105, 194, 213, 1) 97%
  ) !important;
  border-radius: 6px;
}

wow-searchbar.active .results {
  background: linear-gradient(
    142deg,
    rgba(66, 185, 133, 1) 0%,
    rgba(105, 194, 213, 1) 97%
  ) !important;
}

.two-box {
  box-shadow: none !important;
}
